#root {
  background-color: #06060f;
}

/* HEADER */
header {
  height: 150px;
}

.navbar > i {
  color: #98939f;
  padding-left: 10px;
}

.navbar > ul > li {
  display: inline-block;
  padding-left: 20px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #98939f;
}

.navbar > span {
  background-color: #fff941;
  margin-left: 10px;
  margin-right: 10px;
}

/* FIRST SECTION */
.first-section {
  background-image: url(".././img/slider82x-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.first-section-main {
  padding-top: 100px;
  padding-bottom: 300px;
  position: relative;
}

.first-section-text > h1 {
  padding: 10px;
  color: #ff414b;
}

.first-section-text > h2 {
  font-size: 70px;
  padding: 10px;
  color: white;
}

.first-section-text > p {
  font-size: 20px;
  color: #98939f;
  padding: 10px;
  margin-top: 10px;
}

.icon-first-section {
  margin-left: 10px;
}

.btn-youtube {
  background-color: #4154ff;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  color: white;
}

.btn-buy {
  background-color: #06060f;
  border: 2px solid #98939f;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 250px;
  color: white;
}

.btn-play {
  position: absolute;
  top: 240px;
  right: 150px;
  height: 80px;
  border-radius: 50%;
  width: 80px;
  color: #4154ff;
  border: none;
}

.btn-demos {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 12px;
  border-radius: 10px;
  color: #36495c;
  border: none;
}

.btn-sale {
  position: absolute;
  top: 105px;
  right: 20px;
  padding: 9px;
  border: none;
  border-radius: 10px;
  color: #33475b;
}

.btn-sale > i {
  color: green;
}

.price {
  color: green;
  font-size: 30px;
}

/* SECOND SECTION */
.second-section {
  background-image: linear-gradient(to right bottom, blue, red);
  padding-bottom: 150px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.second-section-cards {
  position: relative;
}

.first-card {
  background-image: url(.././img/service6-2x.jpg);
  position: relative;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-bottom-right-radius: 50px 50px;
}

.second-card {
  background-image: url(".././img/box1-2x.jpg");
  position: relative;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-bottom-right-radius: 50px 50px;
}

.third-card {
  background-image: url(".././img/box3-2x.jpg");
  position: relative;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-bottom-right-radius: 50px 50px;
}

.cards-main {
  margin-top: -80px;
}

.card-text > h4 {
  color: #fff941;
}

.text-second-section {
  padding-top: 200px;
}

.brad-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.brad-name {
  font-size: 25px;
  color: white;
  padding: 20px;
}

.brad-place {
  font-size: 25px;
  color: #98939f;
}

/* THIRD SECTION */
.third-section-img {
  background-image: url(".././img/service15-2x.jpg");
  background-size: cover;
  flex-basis: 80%;
  margin-top: -100px;
  height: 850px;
  border-bottom-right-radius: 30px;
}

.btn-play-third-section {
  background-color: white;
  position: absolute;
  height: 90px;
  width: 90px;
  top: 388px;
  left: 341px;
  border-radius: 50%;
  border: none;
}

.fa-play {
  color: #4154ff;
}

.third-section-text > h4 {
  text-decoration: none;
  color: #4154ff;
  font-size: 25px;
}
.third-section-text {
  padding: 150px;
}

.third-section-text > h2 {
  font-size: 60px;
  padding-top: 40px;
}

.logo-unnmaed-cont {
  margin-top: 40px;
}

.logo-cont {
  margin-left: 10px;
}

.yt-red-btn {
  background-color: red;
  color: white;
  padding: 2px;
  border: 1px solid grey;
  font-size: 15px;
}

.yt-follower {
  padding: 2px;
  border: 1px solid grey;
  color: grey;
  font-size: 15px;
}

.theme-fusion {
  color: grey;
}

.third-section-img {
  position: relative;
}

.third-section-p > p {
  color: grey;
  font-size: 20px;
}

.btn-visit-yt {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 30px;
  border: none;
}

.visit-yt {
  margin-top: 30px;
}
