.header-bg {
  background-color: #06060f;
}

/* HEADER */
header {
  height: 150px;
}

.navbar > i {
  color: #98939f;
  padding-left: 10px;
}

.navbar > ul > li {
  display: inline-block;
  padding-left: 20px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #98939f;
}

.navbar > span {
  background-color: #fff941;
  margin-left: 10px;
  margin-right: 10px;
}

/* FIRST SECTION */
.first-section {
  background-image: url(".././img/slider82x-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.first-section-main {
  padding-top: 100px;
  padding-bottom: 300px;
  position: relative;
}

.first-section-text > h1 {
  padding: 10px;
  color: #ff414b;
}

.first-section-text > h2 {
  font-size: 70px;
  padding: 10px;
  color: white;
}

.first-section-text > p {
  font-size: 20px;
  color: #98939f;
  padding: 10px;
  margin-top: 10px;
}

.icon-first-section {
  margin-left: 10px;
}

.btn-youtube {
  background-color: #4154ff;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  color: white;
}

.btn-buy {
  background-color: #06060f;
  border: 2px solid #98939f;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 250px;
  color: white;
}

.btn-play {
  position: absolute;
  top: 240px;
  right: 150px;
  height: 80px;
  border-radius: 50%;
  width: 80px;
  color: #4154ff;
  border: none;
}

.btn-demos {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 12px;
  border-radius: 10px;
  color: #36495c;
  border: none;
}

.btn-sale {
  position: absolute;
  top: 105px;
  right: 20px;
  padding: 9px;
  border: none;
  border-radius: 10px;
  color: #33475b;
}

.btn-sale > i {
  color: green;
}

.price {
  color: green;
  font-size: 30px;
}

/* SECOND SECTION */
.second-section {
  background-image: linear-gradient(to right bottom, blue, red);
  padding-bottom: 150px;
}

/* .container {
  width: 70%;
  margin: 0 auto;
} */

.second-section-cards {
  position: relative;
}

.first-card {
  background-image: url(.././img/service6-2x.jpg);
  position: relative;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-bottom-right-radius: 50px 50px;
}

.second-card {
  background-image: url(".././img/box1-2x.jpg");
  position: relative;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-bottom-right-radius: 50px 50px;
}

.third-card {
  background-image: url(".././img/box3-2x.jpg");
  position: relative;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-bottom-right-radius: 50px 50px;
}

.cards-main {
  margin-top: -80px;
}

.card-text > h4 {
  color: #fff941;
}

.text-second-section {
  padding-top: 200px;
}

.brad-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.brad-name {
  font-size: 25px;
  color: white;
  padding: 20px;
}

.brad-place {
  font-size: 25px;
  color: #98939f;
}

/* THIRD SECTION UPPER */
.third-section-img {
  background-image: url(".././img/service15-2x.jpg");
  background-size: cover;
  flex-basis: 80%;
  margin-top: -100px;
  height: 850px;
  border-bottom-right-radius: 30px;
}

.btn-play-third-section {
  background-color: white;
  position: absolute;
  height: 90px;
  width: 90px;
  top: 388px;
  left: 341px;
  border-radius: 50%;
  border: none;
}

.fa-play {
  color: #4154ff;
}

.third-section-text > h4 {
  text-decoration: none;
  color: #4154ff;
  font-size: 25px;
}
.third-section-text {
  padding: 150px;
}

.third-section-text > h2 {
  font-size: 60px;
  padding-top: 40px;
}

.logo-unnmaed-cont {
  margin-top: 40px;
}

.logo-cont {
  margin-left: 10px;
}

.yt-red-btn {
  background-color: red;
  color: white;
  padding: 2px;
  border: 1px solid grey;
  font-size: 15px;
}

.yt-follower {
  padding: 2px;
  border: 1px solid grey;
  color: grey;
  font-size: 15px;
}

.theme-fusion {
  color: grey;
}

.third-section-img {
  position: relative;
}

.third-section-p > p {
  color: grey;
  font-size: 20px;
}

.btn-visit-yt {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 30px;
  border: none;
}

.visit-yt {
  margin-top: 30px;
}

/* THIRD SECTION BOTTOM */
.cards-cont {
  gap: 40px;
  padding-bottom: 100px;
  position: relative;
}

.cards {
  width: 33vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 50px;
}

.third-section-card1 {
  background-image: url(".././img/video2-2x.jpg");
}

.third-section-card2 {
  background-image: url(".././img/video7-2x.jpg");
}
.third-section-card3 {
  background-image: url(".././img/video9-2x.jpg");
}

.cards-card-text,
.cards-card-text2,
.cards-card-text3 {
  position: absolute;
  bottom: 0px;
}

.card-text > span {
  color: #4154ff;
  font-weight: bold;
}

.play-button-third-section {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
}

.third-section {
  height: 50rem;
}

/* FOURTH SECTION UPPER */
.fourth-section {
  background-image: url(".././img/banner1-2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #06060f;
}

.fourth-section-main-upper {
  padding-top: 130px;
  padding-bottom: 200px;
  width: 70%;
}

.fourth-section-main-upper > h3 {
  color: #ff414b;
  padding-bottom: 10px;
}

.fourth-section-main-upper > h2 {
  font-size: 55px;
  color: white;
}

.fourth-section-main-upper > p {
  font-size: 20px;
  color: #98939f;
  padding-top: 40px;
}

.input-text-mail {
  width: 55%;
  padding: 20px;
  border: none;
  border-radius: 50px;
}
.subscribe-button {
  width: 35%;
  color: white;
  background-color: #4154ff;
  padding: 20px;
  border: none;
  border-radius: 50px;
}

/* FOURTH SECTION BOTTOM */
.fourth-section-bottom {
  background-color: #060607;
  padding-bottom: 80px;
}

.fourth-section-bottom > .container {
  width: 100%;
}

.card-fourth-section {
  width: 33vw;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 80px;
  background-color: #060607;
  border: 5px solid #4154ff;
}

.up-card-fourth-section > h3 {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}
.up-card-fourth-section > h4 {
  color: #fff941;
}

.bottom-card-fourth-section {
  padding: 70px;
}

.bottom-card-fourth-section > p {
  color: #98939f;
  font-size: 20px;
  text-align: center;
}

.fa-stopwatch,
.fa-dumbbell,
.fa-child-reaching {
  font-size: 70px;
  color: white;
}

.fa-dumbbell {
  transform: rotate(-45deg);
}

/* FIFTH SECTION  */
.fifth-section {
  height: 30rem;
}

.fifth-section-card1 {
  background-image: url(".././img/blog4-2x-600x386.jpg");
}

.fifth-section-card2 {
  background-image: url(".././img/blog1-2x-600x386.jpg");
}
.fifth-section-card3 {
  background-image: url(".././img/blog3-2x-600x386.jpg");
}

.cards-fith-section {
  width: 33vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SIXTH SECTION  */
.sixth-section {
  background-image: url(".././img/banner2-2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5rem;
  height: 40rem;
}

.btn-buy-fifth-section {
  background-color: #4154ff;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  padding: 20px;
  border: none;
}

/* SEVENTH SECTION  */
.seventh-section {
  padding-bottom: 200px;
}

.card-main-7-section > p {
  color: #98939f;
  padding: 20px;
}

.icon-7-section {
  color: #4154ff;
}

.header-card-seventh-section > img {
  width: 60%;
}

/* EIGHTH SECTION  */
.eighth-section {
  background-image: url(".././img/banner14-2x.jpg");
  background-size: cover;
}

.overlay-background {
  background-image: linear-gradient(
    to right bottom,
    rgba(14, 14, 175, 0.6),
    rgba(192, 20, 97, 0.4)
  );
  padding: 200px 200px;
}

.btn-8th-section {
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: none;
}

.text-8th-section > h2 {
  padding: 10px 10px;
  font-size: 55px;
}

.text-8th-section > h3 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #fff941;
}
